{% extends 'base.html' %}

{% block title %}Boards{% endblock %}

{% block content %}
    <h1 class="text-align-center">{{ board.decrypted_name }}</h1>
    <div class="container-md text-center">
      {% if can_write %}
        <a class="btn btn-primary" href="{% url 'boards:rename' id=board.reference %}">Rename</a>
        <a class="btn btn-success" href="{% url 'boards:edit' id=board.reference %}">Edit Content</a>
        <a class="btn btn-info" href="{% url 'boards:share' id=board.reference %}">Share</a>
      {% endif %}
      </div>
      <br><br>
      <div class="container square-box">
        <p>{{ board.decrypted_content|safe }}</p>
      </div>
{% endblock %}
