{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<br><br><br><br>
<h1 style="text-align: center;">CryptoBoard</h1>
<br>
<h4 style="text-align: center;"> Create, Edit and Share your secure boards hazzle free</h4>
<br><br>
<p style="text-align: center;">
  We provide the assurance of collaborating securely without the being concerned about the loss of data integrity or confidentiality<p>
    <p style="text-align: center;">
  Application uses security methods and encryption algorithms to ensure that only authorized personnel are able to access the boards</p>
  <p style="text-align: center;">
  We provide revision and version control feature so that boards are managed or can be retraced to any of the previous versions.</p>


{% endblock %}