{% extends 'base.html' %}
{% load static %}

{% block title %}ML Playground{% endblock %}

{% block content %}
    <section class="page-section" id="share-board">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Attributes Selection</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="justify-content-center">
                <form action="{% url "public:train_model" %}" name="fieldSelection" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="col-md-6 pull-left padding-10">
                        <h3>Select attributes to train the model</h3>
                        <div class="list-group">
                            {% for column in column_names %}
                                <label class="list-group-item">
                                    <input name="attributes" class="form-check-input me-1" type="checkbox" value="{{ column }}">
                                    {{ column }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 pull-right padding-10">
                        <h3>Label for classification</h3>
                        <select name="classification" id="classification" class="form-control" data-sb-validations="required">
                            <option disabled selected> -- select column for classification -- </option>
                            {% for column in column_names %}
                                <option value={{column}}>{{column}}</option>
                            {% endfor %}
                        </select>
                        <div class="mt-50">
                            <h3>Algorithm Selection</h3>
                            <select name="algorithm" id="algorithm" class="form-control" data-sb-validations="required">
                                <option disabled selected> -- select algorithm for classification -- </option>
                                <option value="svm">SVM</option>
                                <option value="decision_tree">Decision Tree</option>
                                <option value="multiple_regression">Multiple Regression</option>
                                <option value="logistic_regression">Logistic Regression</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-align-center mt-50">
                        <button class="btn btn-primary btn-xl train-btn" id="submitButton" type="submit">Train</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}