{% extends 'base.html' %}
{% load static %}

{% block title %}ML Playground{% endblock %}

{% block content %}
    <section class="page-section" id="share-board">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Attributes Selection</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="justify-content-center">
                <form action="{% url "public:train_model" %}" name="fieldSelection" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="col-md-6 pull-left padding-10">
                        <h3>Select attributes to train the model</h3>
                        <div class="list-group">
                            {% for column in field_names %}
                                <label for="attribute_{{column}}"><input id="attribute_{{column}}" name="attributes[]" type="checkbox" checked="checked" value="{{ column }}" required>{{ column }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 pull-right padding-10">
                        <h3>Label for classification</h3>
                        <select name="classification" id="classification" class="form-control" data-sb-validations="required">
                            <option disabled selected> -- select column for classification -- </option>
                            {% for column in field_names %}
                                <option value={{column}}>{{column}}</option>
                            {% endfor %}
                        </select>
                        <div class="mt-50">
                            <h3>Algorithm Selection</h3>
                            <select name="algorithm" id="algorithm" class="form-control" data-sb-validations="required">
                                <option disabled selected> -- select algorithm for classification -- </option>
                                <option value="SVM">SVM</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-xl padding-10 pl-10" id="submitButton" type="submit">Train</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}